/*univeral selector is * */
*{
    margin:0;
    padding:0;
}
body{
    font-family: arial, sans-serif;
}

/*identifies element for class */
.container{
    max-width: 1100px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto; /*first value top/bottom, second value left/right*/
}

/*identifies element for id*/
#wrapper{
 /*margins, then borders, then padding*/

}
header{
    font-size:1em; 
    background-color: cornflowerblue;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
img{
    width:100%; 
}
header a{
    color: white;
}
nav li{
    list-style-type: none;
    text-align: center;
    border-bottom: solid 1px black;
    padding-bottom:0.5em;
    margin-top:0.5em;
}
nav ul{
    padding: 0;
}
p, h1, h2, h3, ul{
    margin-bottom: 1em;
}
ul{
    padding-left: 1em;
}
/*any css in this bracket will only apply to large screens*/
@media(min-width:480px){
    nav li{
        display: inline;
    }
}